.service-section {
    width: 100%;
    margin-top: 30px;
    background-color: #f7f8f8;
    min-height: 66rem;
}

.service-container {
    width: 80%;
    margin: auto;
}

.service-title {
    display: flex;
    color: #ffffff;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
    font-family: Monda;
    font-size: 40px;
    color: #074b89;
}

.card-contianer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 50px;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 60px;
    background-color: #ffffff;
    box-shadow: 1px 1px 6px rgba(148, 148, 148, 0.555);
    /* z-index: 1; */
}

.card-img {
    width: 80%;
}

.img1 {
    width: 290px;
    height: 235px;
}

.img2 {
    width: 212px;
    height: 230px;
}

.img3 {
    width: 274px;
    height: 230px;
}

.img4 {
    width: 350px;
    height: 232px;
}

.card-content {
    width: 100%;
    text-align: center;
}

.card-header {
    color: #000000;
    padding-top: 20px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 23px;
    padding-bottom: 7px;
}

.card-text {
    color: #5f5c5c;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}


/* .greenbottom,
.bluebottom {
    position: absolute;
    background-color: #377949;
    height: 6px;
    margin-top: 375px;
    
}

.bluebottom {
    background-color: #074b89;
} */

@media screen and (max-width: 990px) {
    .card-contianer {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 550px) {
    .service-title {
        font-size: 32px;
    }
    .card-img {
        width: 60%;
    }
    .img1 {
        width: 130px;
        height: 105px;
    }
    .img2 {
        width: 124px;
        height: 133px;
    }
    .img3 {
        width: 166px;
        height: 139px;
    }
    .img4 {
        width: 199px;
        height: 132px;
    }
    .card-header {
        font-size: 18px;
    }
    .card-text {
        font-size: 13px;
    }
}

@media screen and (max-width: 390px) {
    .card-header {
        font-size: 16px;
    }
    .card-text {
        font-size: 13px;
    }
    .service-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 280px) {
    .card-contianer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .card-header {
        font-size: 10px;
    }
    .card-text {
        font-size: 8px;
    }
    .service-title {
        font-size: 20px;
    }
    .img2 {
        width: 84px;
        height: 91px;
    }
    .img3 {
        width: 114px;
        height: 95px;
    }
    .img4 {
        width: 109px;
        height: 72px;
    }
}