.service-section {
    width: 100%;
    margin-top: 30px;
    background-color: #f7f8f8;
    min-height: 76rem;
}

.service-title {
    color: #074b89;
    text-align: center;
    padding-top: 35px;
    font-family: Monda;
    font-size: 40px;
    padding-bottom: 30px;
}

.card-contianer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 65px;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 500px;
    margin-top: 30px;
    height: 450px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px rgba(148, 148, 148, 0.555);
}

.card-img {
    padding-top: 20px;
    width: 260px;
    height: 230px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-img2 {
    padding-top: 17px;
    width: 200px;
    height: 232px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-img3 {
    padding-top: 17px;
    width: 258px;
    height: 232px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-img4 {
    padding-top: 17px;
    width: 340px;
    height: 232px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    color: #000000;
    text-align: center;
    padding-top: 35px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 23px;
    padding-bottom: 15px;
}

.card-text {
    display: flex;
    color: #5f5c5c;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
}

.greenbottom,
.bluebottom {
    position: absolute;
    background-color: #377949;
    min-width: 500px;
    height: 9px;
    margin-top: 422px;
}

.bluebottom {
    background-color: #074b89;
}