.about-us {
    margin: 58px auto;
    width: 100%;
    min-height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img {
    height: 380px;
    width: 380px;
    max-width: 100%;
    border-radius: 100%;
}

.content {
    width: 55%;
    max-width: 100%;
    padding: 0px;
    margin-left: 20px;
}

.wrapper {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.title {
    margin-bottom: 2px;
    font-weight: 600;
    line-height: 10px;
    color: #0b5aa4;
    font-family: Monda;
    font-size: 19px;
    padding-left: 2px;
}

.about-subtitle {
    font-weight: bold;
    font-family: Monda;
    color: #074b89;
    font-size: 30px;
}

.about-content {
    padding-top: 8px;
    font-family: Poppins;
    color: #1a1a1a;
    font-size: 18px;
    line-height: 29px;
}

@media screen and (max-width: 1030px) {
    .about-img {
        height: 350px;
        width: 350px;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 890px) {
    .about-img {
        height: 310px;
        width: 310px;
    }
    .content {
        width: 100%;
    }
}

@media screen and (max-width: 590px) {
    .about-img {
        height: 300px;
        width: 300px;
    }
    .content {
        width: 100%;
    }
    .about-subtitle {
        font-size: 27px;
    }
    .about-content {
        font-size: 16px;
        line-height: 26px;
    }
}