input {
    font-family: "FontAwesome", "Poppins";
}

.contact {
    margin: 10px auto;
    min-height: 55vh;
    width: 100%;
    background: #f4f6f5;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-title {
    font-family: Monda;
    color: #074b89;
    font-size: 27px;
}

.contact-info {
    color: #676464;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    margin-top: 80px;
    margin-right: 70px;
    font-size: 19px;
    border-radius: 8px;
    background-color: rgb(243, 243, 243);
    font-family: Monda;
    width: 50%;
}

.contact-info i {
    margin-right: 15px;
    font-size: 29px;
    color: #074b89;
}

.contact-form {
    max-width: 700px;
    margin-right: 35px;
    width: 50%;
}

.intouch-title {
    color: #074b89;
    font-family: Monda;
    font-size: 33px;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 30px;
}

.text-box,
.msg-box {
    background: rgb(238, 238, 238);
    color: black;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.308);
    margin-bottom: 20px;
    opacity: 0.9;
}

.text-box:first-child {
    margin-right: 15px;
}

.msg-box {
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    font-family: Poppins;
}

.submit-btn {
    float: right;
    background: #074b89;
    font-family: Poppins;
    color: #fff;
    border: none;
    width: 100px;
    height: 30px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background: #053766;
}

@media screen and (max-width: 955px) {
    .contacts {
        flex-direction: column;
    }
    .contact-info,
    .contact-form {
        margin: 30px 50px;
    }
    .contact-form .text-box {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .contact-title {
        font-size: 26px;
    }
    .contact-info {
        width: 100%;
    }
    .contact-info i {
        font-size: 23px;
    }
    .intouch-title {
        font-size: 30px;
    }
    .contact-form {
        width: 85%;
    }
}

@media screen and (max-width: 290px) {
    .contact-title {
        font-size: 19px;
    }
    .contact-info {
        font-size: 13px;
    }
    .contact-info i {
        font-size: 10px;
    }
    .intouch-title {
        font-size: 19px;
    }
}