.footer {
    background-color: #377949;
    min-height: 40px;
    color: rgb(226, 226, 226);
    font-family: Poppins;
    font-size: 13px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 590px) {
    .footer {
        font-size: 10px;
    }
}

@media screen and (max-width: 290px) {
    .footer {
        font-size: 6px;
    }
}